/* .main {
    display: flex; 
    height: 100%;
} */

/* #menu {
    width:20vw; 
    background-color:#FFFFFF;
} */

#main-container {
    padding-top:5vh;
    padding-bottom:5vh; 
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    
    /* debuging purposes */
    /* overflow:hidden; */
}

.first-container{
    /* width:27.688rem;  */
    width:50%; 
    height:21.875rem; 
    display:flex;
    justify-content:center; 
    align-items:center; 
    background-color:#FFFFFF;
    border-radius:0.4rem;
}




#row-container {
    display:flex;
    flex-direction:column;
    gap: 43px;
    justify-content: center;
    align-items:center;
}

.col { 
    width:100%;
    height:100%;
    display:flex; 
    justify-content:center;
    align-items:center;
}

.card {
    width:12rem;
    height:6rem; 
}

.card-body {
    display:flex; 
    flex-direction:column;
    justify-content:space-between;
}

.statistics {
    color:white;
    font-size:18px; 
    font-family:'Roboto', sans-serif; 
    font-weight:bold;
}

.card-text {
    color:white;
    font-size:12px;
    font-family:'Roboto', sans-serif;
}

.graph-container {
    height:400px;
    width:100%;
    background-color:#FFFFFF;
    border-radius:0.4rem;
}

.summaries {
    width:27.688rem; 
    height:21.875rem;
    /* display:flex;
    flex-direction:column; */
    /* justify-content:center; */
    /* align-items:center; */
    background-color:#FFFFFF;
    border-radius:0.4rem
}

#title {
    width:100%;
}

#title div {
    width:100%;
    padding-left: 80px;
    padding-bottom: 10px;
}






