Table {
    border: 1px solid black;

}
    

@media (max-width: 428px) {
    td {
        display: flex;
        justify-content: center;
    }

    .form-buttons {
        display: flex;
        gap: 5px;
        flex-direction: row;
    }

    .add-new-client
    .client-details {
        width: 50px;
    }

    .new-client-cta {
        border: none;
        padding: 8px;
        border-radius: 5px;
    }

    .currency {
        display: flex; /*
        justify-content: flex-start;
        margin-top: 2vh; */
        /* width: 25vw; */
    }
/*
    .policy-start-date {
        display: flex;
        justify-content: flex-start;
    } */

    .dates {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    #policy-end-date {
        width: 20vw;
    }

    
    
}

@media (max-width: 876px) {
   
    .new-client-cta {
        border: none;
        padding: 8px;
        border-radius: 5px;
    }

    .currency {
        display: flex;

    }

    .dates {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    #policy-end-date {
        width: 20vw;
    }

    .form-buttons {
        display: flex;
        gap: 5px;
        /* flex-direction: column; */
        justify-content: center;
    }

    tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-areas: "sticker-no sticker-no" 
                            "first second"
                            "third fourth"
                            "repeater-buttons repeater-buttons";   
    }

    td {
        display: flex;
    }

    .sticker-number {
        /* grid-column: span; */
        grid-row: 1;
        /* grid-column-start: 1;
        grid-column-end: 2; */
        grid-area: sticker-no;
        /* grid-area: sticker-number; */
    } 

    .first-cell {
        grid-row: 2; 
        grid-area: first; 
    }

    .second-cell {
        grid-row: 2;
        grid-area: second;
    }

    .third-cell {
        grid-row: 3;
        grid-area: third;
    }

    .fourth-cell {
        grid-row:3;
        grid-area: fourth;
    }

    .fifth-cell {
        grid-row:4;
        grid-area: repeater-buttons;
        /* align-items: end; */
    }

    .form-buttons {
        width: 100%;
        justify-content: end;
    }
    
}