*{
    margin: 0;
    padding: 0;
}


body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow: scroll;
}

body{
    background-color: #fafafa;
    font-size: .875rem;
}


/* root container */
.top-container{
    display: grid;
    grid-template-columns: 260px auto;
    min-height: 100vh;
    width: 100vw;
}
.top-container-large{
    display: grid;
    grid-template-columns: 80px auto;
    min-height: 100vh;
    width: 100vw;
}



.displayContainer{
    position: relative;
    /* margin-left: 260px; */
    min-width: 800px;
    max-width: 1200px;
    overflow: hidden;
}

.components{
    max-width: 100vw;
    min-height: 100vh;
}

.componentsData{
    margin: 0 20px;
}

.heading{
    margin-left: 20px;
}


/* // client actions */

.working-here{
    position: relative;
}



.working-here ul{
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    padding: 10px 20px;
    z-index: 1001;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    border-radius: 5px; 
    top: 0;
    left: -120px;
    display: none;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    border-radius: 5px; 
    margin: 20px;
}

.login button{
    margin-top: 20px;
}


.working-here:hover > ul {
    display: block;
}

#action_context li{
    padding: 5px 10px;
}

#action_context button{
    background-color: transparent;
    border: none;
    padding: 10px;
}

#action_context button:hover{
    border-radius: 20px;
    background-color: #fafafa;
}








.title{
    margin-bottom: 5px;
}

.subtitle{
    color: #646464;
}

#searchInput{
    margin: 50px 20px;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    border: 2px solid #000;
    padding: 10px;
}

.btn{
    margin: 0 20px;
}


.table-card{
    margin-top: 60px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 72px;
}


tbody, td, tfoot, th, thead, tr{
    border-style: none;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: #f6f7f7;
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    color: #212529;
}

#search{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.cta{
    /* height: 40px; */
    /* width: 120px; */
    background-color: #1475CF;
}

#add_client_group{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#action{
    display: flex;
    flex-direction: column;
}

#action div{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin: 1px;
}

.place-items-center {
    place-items: center;
}


/* form action buttons */
.action-buttons{
    border: none;
    background-color: transparent;
    margin: 2px;
    font-size: 20px;
}








/* .sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} */




@media (max-width: 780px) {
    .top-container{
        /* display: grid; */
        /* grid-template-rows: .5fr 1.5fr; */
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

    .componentsData{
        margin: 0 10px;
        overflow-x: hidden;
    }

    .displayContainer{
        margin-left: 0;
    }

    .top-container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
    }
    .top-container-large{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
    }
    
}











