
.sidebar{
    display: grid; 
    grid-template-rows: 1fr 3fr 1fr;
    width: 260px;
    border-right: 1px solid #c6c7c8;
    align-items: stretch;
    height: 100vh;
}

/* Brand CSS */
#brand {
    width: 100%;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #brand img{
} */

#brand i {
    color: #1475cf;
    font-size: 25px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
/* End of Brand CSS */


.nav-linked{
    color: #333;
    display: flex;
    cursor: pointer;
    font-size: 1.0rem;
    text-decoration: none;
    padding: 10px;
}

.nav-linked:hover{
    background-color: #F4F4F4;
    color: black;
}

.nav-linked span{
    margin: 0 20px;
}


.selected{
    color: #fff;
    background-color: #1475cf;
}
.selected:hover{
    color: #fff;
    background-color: #1475cf;
}


/* Menu CSS */
#menu_section_m {
    align-items: center;
    height: 82vh;
    width: 260px;
}

#menu_section li{
    list-style-type: none;
}





#menu_section li a .icon {
    margin: 0 20px;
}

#menu_section li a i {
    height: 25px;
    width: 25px;
    
}


/* End Menu CSS */








#menu_section li a{
    position: relative;
}


#menu_section li a ul{
    display: none;
    background: #fff; 
    padding: 10px 20px;
    z-index: 1001;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    border-radius: 5px; 
}

#menu_section li a:hover > ul{
    display: block;
    position: absolute; 
    top: -50px;
    left: 50px;
}

#menu_section li a ul li{
    list-style-type: none;
    font-size: .9rem;
    display: block;
}

#menu_section  li a ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
}
#menu_section  li a ul li a:hover{
    border-radius: 20px;
    background-color: #fafafa;
}






/* footer account */

footer{
    position: relative;
    bottom: 0;
    padding: 10px 5px;
    width: inherit;
    color: #000;
}

footer a{
    text-decoration: none;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
}

footer a p{
    color: #000;
    margin: 0;
}


footer:hover{
    background-color: #F4F4F4;
    color: #000;
}

footer a img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



#eclipse{
    display: flex;
}

#eclipse div{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin: 1px;
}

/* End of footer */







/* SideBar Miniminised */

.sidebar-m{
    top: 0;
    left: 0;
    display: grid; 
    grid-template-rows: 1fr 3fr 1fr;
    border-right: 1px solid #c6c7c8;
    align-items: stretch;
    width: 80px;
    height: 100vh;
    background-color: #fff;
}

#menu_section_m {
    align-items: center;
    height: 82vh;
    width: 85px;
}

#menu_section {
    align-items: center;
    height: 82vh;
}

#menu_section_m li{
    list-style-type: none;
}

#menu_section_m li a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    padding: 10px;
}




#menu_section_m li a i {
    height: 25px;
    width: 25px;
}





#brand_m {
    width: 80px;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#brand_m i {
    color: #1475cf;
    font-size: 25px;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}


/* context */
#menu_section_m li a{
    position: relative;
    width: 80px;
}

#menu_section_m ul li a ul{
    display: none;
    background: #fff; 
    padding: 10px 20px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    border-radius: 5px; 
    z-index: 1001;
    position: absolute; 
    top: -50px;
    left: 50px;

}

#menu_section_m li a:hover > ul{
    display: block;
}

#menu_section_m ul li a ul li a{
    padding: 10px 20px;
    border: 1px solid green;
}


#menu_section_m  li a ul li{
    border-radius: 10px;
    border: 1px solid red;
    padding: 10px 20px;
}











/* account context */
footer ul{
    display: none;
    background: #fff; 
    padding: 10px 15px;
    margin: 0 20px;
    z-index: 1001;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    border-radius: 5px; 
}

footer ul li{
    list-style-type: none;
    display: block;
}

footer:hover > ul{
    display: block;
    position: absolute; 
    bottom: 60px;
    left: 0;
}

footer ul li a{
    color: #000;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

footer ul li a:hover{
    color: #000;
    background-color: #F4F4F4;
}



.mobile-sidebar{
    display: none;
}


@media (max-width: 780px) {
    .mobile-sidebar{
        top: 0;
        left: 0;
        display: grid; 
        grid-template-rows: 1fr 3fr 1fr;
        border-right: 1px solid #c6c7c8;
        align-items: stretch;
        width: 80px;
        height: 100vh;
        background-color: #fff;
    }
    .sidebar{
        display: none;
    }
    .sidebar-m{
        display: none;
    }
}